{% extends "core/base.html" %}
{% block content %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="jumbotron jumbotron-fluid text-xl-center text-white bg-dark">
            <div class="container">
              <h1 class="display-4">Witamy w Jadłospisie</h1>
                        <div>
                            <p>text1</p>

                        </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron jumbotron-fluid text-xl-center text-white bg-dark">
            <div class="container">
              <h1 class="display-4">sample</h1>
                        <div>
                            <p>text2</p>

                        </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron jumbotron-fluid text-xl-center text-white bg-dark">
            <div class="container" >
              <h1 class="display-4">sample sample</h1>
                 <div>
                    <p>text3</p>

                 </div>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>





{% endblock %}